* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FCC737;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5%;
  background-color: #493D9E;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #FCC737;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: auto;
  overflow: hidden;
}

.logo img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #FFF2AF;
}

button {
  padding: 9px 25px;
  background-color: #FCC737;
  color: #493D9E;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #FFF2AF;
}