body {
    font-family: 'Raleway', sans-serif;
    background: url('src/images/uc_bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.card-header h2 {
    font-weight: 600;
    color: #493D9E;
    margin-bottom: 10px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #493D9E;
}

.form-group input, 
.form-group select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.form-row:nth-child(1),
.form-row:nth-child(6) {
    display: block;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #493D9E;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.btn {
    width: 100%;
    padding: 8px 12px;
    background: #493D9E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #474E93;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        gap: 8px;
    }
}

p {
    font-size: 0.9rem;
    color: #493D9E;
    text-align: center;
}

p a {
    color: #493D9E;
    text-decoration: none;
    font-weight: 600;
}

p a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .card {
        padding: 12px 15px;
    }

    .card-header h1 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 20px;
}

.logo {
    height: 60px;
    width: auto;
}

@media (max-width: 480px) {
    .logo {
        height: 50px;
    }
}